.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffdab9;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar button {
  background-color: #cc5200;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-right: 8px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.navbar button:hover {
  background-color: #a34700;
}
